.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 20;
  float: none;
}

.nav-link {
  margin-top: -34px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Perpetua, sans-serif;
  color: #8b7547;
  font-size: 25px;
  line-height: 25px;
  font-style: normal;
}

.nav-link.w--current {
  color: #e2d7c9;
  text-decoration: underline;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: relative;
  top: auto;
  z-index: 20;
  overflow: hidden;
  height: 125px;
  background-color: #fffefa;
}

.body {
  background-color: #fffefa;
}

.image {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: inline;
  overflow: visible;
  width: 200px;
  margin-top: 8px;
}

.page-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  margin: 0px 16px;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.39;
}

.page-hero.about-us {
  background-image: url('../images/AdobeStock_142217700-min.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.page-hero.home {
  background-image: url('../images/AdobeStock_193120469-min.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.page-hero.portfolio-image {
  position: static;
  margin-bottom: 0px;
  background-image: url('../images/AdobeStock_249035455-min.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.heading {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -98px auto 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Perpetua, sans-serif;
  color: #707070;
  font-size: 60px;
  font-weight: 400;
}

.bg-heading {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.13;
  font-family: 'Above the sky script', sans-serif;
  color: #94cce0;
  font-size: 90px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

.paragraph {
  display: block;
  max-width: 710px;
  margin-bottom: 54px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  font-family: Perpetua, sans-serif;
  color: #707070;
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.experience {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
}

.hr-divider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  height: 1px;
  background-color: #e2d7c9;
}

.hr-divider.push-bottom {
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.snow-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 200px;
  margin-top: 0px;
  padding-top: 1px;
  background-color: #fcf7f7;
}

.image-2 {
  height: 300px;
}

.div-block-2 {
  height: 480px;
  margin: 8px 35px 35px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/UNADJUSTEDNONRAW_thumb_f6.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: repeat;
}

.home-routes {
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
  float: none;
}

.columns {
  margin-top: 0px;
  padding-top: 30px;
}

.vertical-hr {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 1px;
  height: 60px;
  margin-top: -43px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e2d7c9;
}

.vertical-hr.long-hr {
  height: 624px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.quick-link {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Perpetua, sans-serif;
  color: #8b7547;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  text-align: right;
  letter-spacing: 1px;
  text-decoration: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: right;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 1px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: #8b7547;
}

.div-block-6.line1 {
  width: 41%;
}

.div-block-6.line2 {
  width: 36%;
}

.column {
  padding-right: 20px;
  padding-left: 20px;
}

.image-3 {
  height: 47px;
}

.router-2 {
  height: 480px;
  background-image: url('../images/UNADJUSTEDNONRAW_thumb_2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-8 {
  max-width: 1120px;
  margin: 38px auto;
}

.div-block-9 {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 17px;
  margin-bottom: 17px;
  padding-top: 28px;
  padding-bottom: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.7)), to(hsla(0, 0%, 100%, 0.7))), url('../images/AdobeStock_215059984-min.jpeg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)), url('../images/AdobeStock_215059984-min.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  opacity: 0.76;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.div-block-10:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.7)), to(hsla(0, 0%, 100%, 0.7))), url('../images/AdobeStock_215059984-min.jpeg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)), url('../images/AdobeStock_215059984-min.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  opacity: 1;
}

.div-block-11 {
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}

.heading-2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Perpetua, sans-serif;
  color: #707070;
  font-weight: 400;
}

.div-block-12 {
  width: 100%;
  height: 1px;
  max-width: 650px;
  background-color: #707070;
}

.footer {
  margin-bottom: 0px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  margin-right: 0px;
  padding-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.router-1 {
  height: 480px;
  background-image: url('../images/UNADJUSTEDNONRAW_thumb_c0.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrap {
  width: 40%;
}

.footer-wrap.double-line {
  width: 45%;
  border: 1px none #000;
}

.footer-wrap.right-wrap {
  width: 45%;
  height: 100px;
  border: 1px solid #000;
}

.footer-logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nap-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.nap-link {
  font-family: Perpetua, sans-serif;
  color: #8b7547;
  font-size: 20px;
  text-decoration: none;
}

.link-block {
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gold-standard {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Perpetua, sans-serif;
  color: #8b7547;
  font-size: 20px;
}

.page-title {
  font-family: 'Perpetua titling mt', sans-serif;
  color: #fff;
  font-size: 130px;
  line-height: 130px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 20px #000;
}

.center-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: -28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  opacity: 1;
  font-family: 'Above the sky script', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  text-shadow: 1px 1px 20px #000;
}

.body-2 {
  background-color: #fffefa;
}

.link-block-2 {
  width: 100%;
  text-decoration: underline;
}

.link-block-3 {
  width: 100%;
  text-decoration: none;
}

.portfolio-container {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-4 {
  background-image: url('../images/MillerPetrovic111018-3-2-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

#w-node-37fe2bb01cd0-d32bcd70 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@font-face {
  font-family: 'Perpetua';
  src: url('../fonts/Perpetua.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Above the sky script';
  src: url('../fonts/Above-The-Sky-Script.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Perpetua';
  src: url('../fonts/Perpetua.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Perpetua titling mt';
  src: url('../fonts/Perpetua-Titling-MT.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}