/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* ===============Site Styles=============================== */

.center div img {
	float: left;
	padding: 1% 0;
}


/* NEED TO CHANGE THE HOVER EVENT OF THE TEXT TURNING WHITE....ALSO CHANGE THE SIZE OF THE NAV BUTTONS ON HOVER. */


html, body {
	margin: 0;
	padding: 0;
}


body {
	background: 
		url("../images/bg-texture_image.jpg"),
			url("../images/bg_text_texture.jpg");	
}
h1 {
	font-size: 4em;
}


h1, h2, h3, .login{
    font-family: helvetica, arial;
	text-shadow: 1px 1px 1px white;
	margin: 0;
}

h2 {
	font-size: 2.4em;
	text-align: center;
	padding-top:20px;
	font-weight: bold;
	line-height: 125%;
	letter-spacing: -1px;
	color: #606060;
}


h3 {
	color: #606060;
	font-size: 2em;
	padding-top: 30px;
	text-align: center;
}

p {
	font-family: helvetica, arial;
	padding: 10px 10px 20px 10px;
	margin: 0 auto;
	text-align: justify;
}


/*------------------HEADER---------------------*/
.slicknav_menu {
	display: none;
}

header {
	position: fixed;
	top:0px;
	z-index: 9999;
	width: 100%;
	height: 100px;
	background: url('../images/bg_text_texture.jpg');
}

header > div {
	position: relative;
	display: block;
	width: 996px;  
	margin: 0 auto;
}

.container {
	margin-top: 100px;
}
.about {
	margin-top: 100px;
}

header h1:nth-of-type(1) {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 150px;
	height: 120px;
	background: url('../images/bg_text_texture.jpg');
	box-shadow: 0px 1px 10px black;
	display: block;
	z-index: 9999;
}

header h1:nth-of-type(2) {	
	margin: 0 88px;
	height: 100px;
	text-indent: -9999px;	
}

section ul: {
	margin: 0;
	padding: 0 24.5px;
	width: 90px;
	float: left;
}

.modal-box {
	position: relative;
} 

#login-content {
	display: none;
}


#login-content {
	position: relative;
	background: white;
}
#login-content:after, #login-content:before {
	bottom: 100%;
	right: 16%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#login-content:after {
	border-color: rgba(0, 0, 0, 0);

	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}
#login-content:before {
	border-bottom-color: black;
	border-width: 8.9px;
	margin-left: -8.9px;
}

/********************* LOGIN *******************/

header form {
	margin: 10px 25px;
	padding: 25px;
	height: auto;
	width: 400px;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 5px black;
	float: right;

}

input[type=submit] {
	padding: 10px;
	border: none;
	font-family: helvetica;
	background-color: #6b6969;
	border-radius: 5px;
	color: white;

}

    #login-content p label
    {
        display: block;
        width: 150px;
        float: left;
        margin-bottom: 10px;
    }
        #login-content p input
    {
        display: block;
        width: 220px;
        float: left;
        margin-bottom: 10px;
    }

	#login-content input[type=submit] {
		width: 225px;
		margin-right: 45px;
	}

/*-------------------CTA---------------*/
.button {
	background:rgba(255, 133, 0, .15);
	font-family: helvetica;
    border-radius: 5px;
    border: 3px solid #ff7800;
	font-size: 40px;
	height: 60px;
	padding: 10px;
	line-height: 65px;
	text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}


a.button:link {
    color: white;
}

a.button:visited {
    color: white;
}


a.button:hover {
	background:#ff7800;

}


a.button:active {
    color: grey;
}

.main-CTA {
    background-position: 20% 80%;
    border-radius: 6px;
    margin: 25px 0 0 -350px;
    padding: 20px 25px 25px;
    position: absolute;
    top: 100px;
    left:50%;
    z-index: 1;
}

.main-CTA {
	text-align: center;
	color: white;
}

.main-CTA > h2 {
	padding-bottom: 10px;
	font-size: 3.65em;
	text-shadow: 1px 1px black;
	color: white;
}

/*--------------NAV----------------------------*/

.main-nav {
	width: 996px;
	padding: 10px;
	position: fixed;
	top:0px;
}

nav ul li:nth-child(1) {
		margin-left: 145px;
}
nav li {
	border-right: 2px solid black;	
	display: block;
	float: left;
	line-height: 50px;
	font-family: helvetica, arial;
	font-size: 1.3em;
	text-align: center;
	padding: 0 23.5px;
	text-shadow: 1px 2px white;
}
nav ul {
	padding-left: 0;
}

nav a:link {
	font-weight: 600;
	color: black;
	text-decoration: none;
}
nav ul li .login{
	color:white;
}


nav a:visited {
	color: black;
}

nav a:hover {
	color: white;
	text-shadow: 1px 1px black;
}

a:active {
	color: orange;
	text-shadow: 1px 1px black;
}

nav .current a {
	color: orange;
	text-shadow: 1px 1px black;
}

.login {
	font-family: helvetica;
	width: 132px;
	border-radius: 5px;
	float: left;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	background: #6b6969;
	font-family: helvetica;
	transition: all 0.3s ease 0s;
}

.login:hover {
	background: #ff7800;
	text-shadow: none;

}

nav ul li:nth-child(6) {
	border: none;
		
}

#dropdown {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

#dropdown a {
	font-family: helvetica;
	width: 132px;
	border-radius: 5px;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	font-family: helvetica;
	transition: all 0.3s ease 0s;
	color: white;
	background: #ff7800;
	padding: 10px 30px;
}

#dropdown a:hover {
	background: #5c9f4d;
}
/*================================================           		          FEATURED         ==============================================*/

.feature-image {
	width: 100%;
	height: 500px; /* Height of images */
}

.home-header {
	width: 100%;
	height: 500px; /* Height of images */
	position: relative;
	top: 100px;
	background: url(../images/CSS.DeNoble_Garter_wide-overlay.jpg) no-repeat center top;
	background-size: cover;
}

.feature-about {
	width: 100%;
	height: 500px; /* Height of images */
	position: relative;
	top: 100px;
	background: url(../images/2014-Couples-choice.jpg)no-repeat center center, url(../images/aboutBg.png)repeat;
	background-size: contain;
}

.featured-sound {
	width: 100%;
	height: 500px; /* Height of images */
	position: relative;
	top: 100px;
	background: url(../images/Zuege-1587.jpg)no-repeat center top;
	background-size: cover;
}

/*---------------Feature/Body----------*/


section>p:only-child {
	position: relative;
	top: 100px;
	width: 100%;
	height: 350px;
	background: url(../images/2014-Couples-choice.jpg)no-repeat center center,
	url(../images/about-bg.png);
	box-shadow: 0px 1px 10px grey;
}
.feature {
	box-shadow: 2px 2px 10px black;
	width: 100%;
	height: 550px;
}

.stories {
	padding: 0px 0 20px 0;
}

.services {
	padding-bottom: 20px;
}

#hertzberg {
	margin: auto;
}

#reviews {
	margin: 10px 0 20px 0;
}

.form {
	padding: 5px 0;
}


#submit {
	margin: 10px 0 20px 320px;
	color: white;
	border-radius: 7px;
	display: block;
	width: 150px;
	font-family: pacifico;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-shadow: 1px 1px 0px black;
    background: -moz-linear-gradient(orange, #FF5800); 
    background: -webkit-linear-gradient(orange, #FF5800);
}

#submit:hover {
    color: black;
    background: -moz-linear-gradient(#fcf7ee 0%, #ff5800 100%); 
    background: -webkit-linear-gradient(#fcf7ee 0%, #ff5800 100%);
	text-shadow: 1px 1px 0px white;
}

#contact {
	padding: 0;
}

section > video {
	width: 640px;
	height: 360px;
}

.youtube {
	padding-top: 25px;
}

/*------------About---------------*/

.owner {
padding: 40px;
box-shadow: 2px 2px 10px black;
}

/*-----------------------FOOTER--------------*/


footer {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	width: 100%;
	height: 100px;
	background: url('../images/bg_text_texture.jpg');
	text-align: center;	
}

footer div {
	width: 996px;
	margin: 0 auto;
}


footer ul {
	float: left;
	width: 500px;
	margin-top: 0;
	margin-left: 20.5%;
	line-height: 100px;
}


footer li {
	display: inline-block;
	vertical-align: middle;
}

footer li a{
	float: left;
	width: 50px;
	height: 50px;

}

#twitter {
	background: url(../images/Twitter_Icon.png)no-repeat center;
	text-indent: -9999px;
	
}

#facebook {
	background: url(../images/facebook_icon.png)no-repeat center;
	text-indent: -9999px;

}

#pinterest {
	background: url(../images/pinterest-icon.png)no-repeat center;
	text-indent: -9999px;

}

footer li:hover {
	-moz-transform:scale(.95); 
	-webkit-transform:scale(.95);
	-o-transform:scale(.95);
	opacity: .9;
}

.navItem {
	
}

.navItem:hover {
	background: #ff7800;
	border-radius: 5px;

}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 996px) {
	
	.feature-image {
		height: 400px; /* Height of images */
	}
	
	.home-header {
		height: 400px; /* Height of images */
	}
	
	.feature-about {
		height: 400px; /* Height of images */
	}
	
	.featured-sound{
		height: 400px; /* Height of images */
	}
	
	.login {
		font-size: 1em;
		width: 90px;
	}
	
	header > div {
		width: 768px;
		height: 100px;
	}
	
	header h1:nth-of-type(1) {
		width: 130px;
		height: 100px;
		box-shadow: none;
	}
	
	
	nav li {
		font-size: 1em;
		border-right: 2px solid black;	
		display: block;
		float: left;
		line-height: 50px;
		text-align: center;
		padding: 0 15px;
		text-shadow: 1px 2px white;
	}
	
	
	h2 {
		font-size: 1.5em
	}
	
	.main-nav { 
		padding-left: 0px;
		margin-left: 0px;	
		width: 750px;
	}
	
	nav ul li:nth-child(1) {
			margin-left: 135px;
	}
	
	#login-content:after, #login-content:before {
		right: 10%;
	}

	.services {
		margin-top: 20px;
	}
	
	.owner {
		box-shadow: none;
		padding: 10px;
	}
	
	#submit {
		margin-left: 250px;
	}
	
	header form {
		left:0;
	}
	
	section > video {
		width: 496px;
		height: 279px;
	}
	.main-CTA {
    background-position: 20% 80%;
    border-radius: 6px;
    margin: 25px 0 0 -270px;
    padding: 20px 25px 25px;
    position: absolute;
    top: 100px;
    left:50%;
    z-index: 1;
	}

	.main-CTA > h2 {
		font-size: 2.7em;
	}
	footer div{
		width: 768px;
	}
	footer ul {
		float: left;
		width: 375px;
	}
	.navItem {
		font-family: helvetica;
		background-color: #6b6969;
		width: 132px;
		border-radius: 5px;
		padding: 10px;
		float: right;
		color: white;
		text-align: center;
		text-shadow: none;
		text-decoration: none;
		margin: 30px 20px 0 0;
	}
}
/* All Mobile Sizes */


/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	header h1:nth-of-type(2) {	
		margin: 0 88px;
		height: 1px;
		text-indent: -9999px;	
	}	
	.feature-image {
		height: 300px; /* Height of images */
	}
	
	.home-header {
		height: 300px; /* Height of images */
		top:50px;
	}
	
	.feature-about {
		height: 300px; /* Height of images */
		top:50px;
	}
	
	.featured-sound{
		height: 300px; /* Height of images */
		top:50px;
	}
	
	.login {
		font-size: 1em;
		width: 90px;
	}
	
	header > div {
		width: 480px;
	}

	header {
		height: 50px;
		position: absolute;
	}
	
	.js #menu {
			display:none;
		}
		
		.js .slicknav_menu {
			display:block;
	}
	
	.slicknav_nav {
	position: relative;
	top:50px;
	width: 100%;
	z-index: 9999;
		background: url("../images/bg-texture_image.jpg");
	}
	
	.slicknav_nav a {
		padding: 0;
		height: 53px;
		line-height: 53px;
		font-size: 2em;
		border-bottom: 1px solid black;	
	    font-family: helvetica, arial;
	    color: black;
	    text-shadow: 2px 2px 1px white;
	    text-align: center;	
	    text-decoration: none;
	}
	
	.slicknav_nav a.login{
		display: none;
	}
	
	
	.title {
		display: none;
	}
	
	.socialmedia {
		display: none;
	}
	.button {
		margin: 10px 20px;
		float:left;
	}
	.container {
		margin-top: 50px;
	}	
	
	.feature-image {
		height: 300px;
		clear: both;
	}
	
	.css-carousel {
		height: 300px; /* Height of images */
		position: relative;
		overflow: hidden;
	}
	
	label {
		text-align: left;
	}
	
	#form {
		padding: 0;
	}
	
	#submit {
		margin: 0 auto;
	}
	
	
	.owner {
		box-shadow: none;
		padding: 100px;
	}
	
	section > video {
		width: 416px;
		height: 279px;
	}
	footer div{
		width: 480px;
	}
	footer ul {
		float: left;
		width: 200px;
	}
	.navItem {
		font-family: helvetica;
		font-size: 13.5px;
		background-color: #6b6969;
		width: 100px;
		border-radius: 5px;
		padding: 10px;
		float: right;
		color: white;
	}
	
	header h1:nth-of-type(1) {
		width: 80px;
		height: 50px;
		box-shadow: none;
		margin: 0 auto;
		position: relative;
		font-size: .5em;
	}

	.main-CTA {
    margin: 25px 0 0 -190px;

	}

	.main-CTA > h2 {
		font-size: 1.8em;
		padding: 0;
	}

	.button {
		font-size: 30px;
		padding: 5px;
		float: none;
	}
	

}
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

	header h1:nth-of-type(2) {	
		margin: 0 88px;
		height: 1px;
		text-indent: -9999px;	
	}	
	header h1:nth-of-type(1) {
		width: 80px;
		height: 50px;
		box-shadow: none;
		margin: 0 auto;
		position: relative;
		font-size: .5em;
	}
	
	.feature-image {
		height: 200px; /* Height of images */
	}
	
	.home-header {
		height: 200px; /* Height of images */
		top:50px;
	}
	
	.feature-about {
		height: 200px; /* Height of images */
		top:50px;
	}
	
	.featured-sound{
		height: 200px; /* Height of images */
		top:50px;
	}
	
	header > div {
		width: 320px;
	}
	
	header {
		height: 50px;
		position: absolute;
	}
	
	h2 {
		font-size: 1.8em;
	}
	
	.js #menu {
			display:none;
		}
		
		.js .slicknav_menu {
			display:block;
	}
	
	.slicknav_nav {
	position: relative;
	top:50px;
	width: 100%;
	z-index: 9999;
		background: url("../images/bg-texture_image.jpg");
	}
	
	.slicknav_nav a {
		padding: 0;
		height: 53px;
		line-height: 53px;
		font-size: 2em;
		border-bottom: 1px solid black;	
	    font-family: helvetica, arial;
	    color: black;
	    text-shadow: 2px 2px 1px white;
	    text-align: center;	
	    text-decoration: none;
	}
	
	.slicknav_nav a.login{
		display: none;
	}
	
	
	
	.login {
		display: none;	
	}
	
	.container {
		margin-top: 50px;
	}		
	
	#form {
		padding: 0;
	}	
	
	label {
		text-align: left;
	}
	
	#submit {
		margin: 0 auto;
	}
	
	section > video {
		width: 260px;
		height: 200px;
	}
	
	footer ul {
		width: 320px;
	}
		
	.main-CTA {
    margin: 25px 0 0 -150px;
    top: 0;

	}

	.main-CTA > h2 {
		font-size: 1.4em;
		padding: 0;
	}

	.button {
		font-size: 20px;
		padding: 5px;
		float: none;
	}
	
	footer div {
		width: 300px;
	}
	
	footer ul {
		float: left;
		width: 175px;
		margin-left: 7%;
	}
	.navItem {
		display: none;
	}
	 
}



/* Testing footer button  */

/************* MODAL *************/
.overlay {
	background: #333;
	opacity: .8;
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.modal {
	background: white;
	width: 500px;
	max-width: 996px;
	z-index: 10001;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -250px;
	border-radius: 5px;
}

#guest-modal {
	padding: 10px;
}

    .formLayout
    {
        padding: 10px;
        width: 450px;
    }
    
    .formLayout label, .formLayout input
    {
        display: block;
        width: 200px;
        float: left;
        margin-bottom: 10px;
    }
 
    .formLayout label
    {
        text-align: right;
        padding-right: 20px;
    }
    
    .formLayout input[type="submit"]
    {
		width: 200px;
        margin-right: 30px;
        float: right;
        margin-bottom: 20px;
    }
 
    br
    {
        clear: left;
        float: none;
    }
    
	form footer {
		color: red;
		background: none;
	}



