/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* ===============Site Styles=============================== */

body {
	background: 
		url("../images/bg-texture_image.png"),
			url("../images/bg_text_texture.png");
		
}

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/pacifico/Pacifico.ttf");
}

h1, h2, h3{
    font-family: Pacifico, arial;
	text-shadow: 1px 1px 1px white;
}

h2 {
	text-align: center;
	text-decoration: underline;
}

h3 {
	padding-left: 20px;
	text-decoration: underline;
}

p {
	font-family: oriya MN, arial;
	padding: 20px;
}
/*------------------HEADER---------------------*/
#header {
	width: 100%;
	height: 100px;
	background: url('../images/bg_text_texture.png');
}

.header-contain {
	display: block;
	width: 996px;  
	margin: auto;
}

.logo {
	width: 150px;
	height: 165px;
	background: url('../images/bg_text_texture.png');
	box-shadow: 0px 1px 10px black;
	margin-left: 25px;
	display: block;
	float: left;
}
.logo img {
	padding: 25px 0px;
}


.title {
	display: block;
	width: 480px;	
	margin: 0 0 0 50px;
	height: 100px;
	background: url("../images/header_letterpress.png") no-repeat;
	text-indent: -9999px;
	float: left;	
}

.socialmedia {
	display: block;
	margin: 0;
	padding: 0;
	width: 290px;
	float: left;
}

.socialmedia li {
	display: block;
	margin-top: 5px;
	padding: 0;
	width: 30px;
	float: left;
	list-style: none;
}

/*-------------------CTA---------------*/


.button {
    border-radius: 7px;
	display: block;
	width: 150px;
	font-family: pacifico;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-shadow: 1px 1px 0px black;
    background: -moz-linear-gradient(orange, #FF5800); 
    background: -webkit-linear-gradient(orange, #FF5800);

}

.button {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.button:link {
    color: white;
}

.button:visited {
    color: white;
}

.button:hover {
    color: black;
    background: -moz-linear-gradient(#fcf7ee 0%, #ff5800 100%); 
    background: -webkit-linear-gradient(#fcf7ee 0%, #ff5800 100%);
	text-shadow: 1px 1px 0px white;

}

.button:active {
    color: grey;
}

.button {
	display: block;
	width: 139px;
	margin-left: 20px;
	text-align: center;
	text-decoration: none;
	float: left;
	border: red 1px solid;
}



/*--------------NAV----------------------------*/

.main-nav {
	margin-left: 176px;
	width: 996px;
	padding-bottom: 50px
}

nav li {
	display: block;
	float: left;
	line-height: 50px;
	font-family: pacifico;
	text-align: center;
	width: 120px;
	text-shadow: 1px 1px white;

}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
	text-shadow: 1px 1px black;
}

a:active {
	color: orange;
	text-shadow: 1px 1px black;
}
	

.home a {
	color: white;
	text-shadow: 1px 1px black;
}

.current a {
	color: white;
	text-shadow: 1px 1px black;
}

/*---------------Feature----------*/

.feature {
	box-shadow: 2px 2px 10px black;
}

.services {
	padding: 20px 0 60px 0;
}

/*------------About---------------*/

.owner {
padding: 40px;
box-shadow: 2px 2px 10px black;
}

/*-----------------------FOOTER---------------*/

footer {
	margin: 0;
	overflow: hidden;
	clear: both;
	width: 100%;
	height: 100px;
	background: url('../images/bg_text_texture.png');
	text-align: center;	
	}

			
}


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

.logo {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	display: block;
	float: left;
}
.logo img {
	padding: 15px 0px;
}


}

/* All Mobile Sizes */
@media only screen and (max-width: 768px) {


}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}




