/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

nav li {
	display: inline;
}
   
   
@font-face {
    font-family: "Pacifico";
    src: url("../fonts/pacifico/Pacifico.ttf");
}

h1, h2, h3{
    font-family: Pacifico, arial;
 }
 
h1 {
	text-align: right;
	font-size: 50px;
	background-color: #565656;
	color: transparent;
	text-shadow: 0 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;

}
 
h2 {
	text-align: center;
	text-decoration: underline;
}

nav {
	font-family: pacifico;
	text-align: center;
}

p {
	font-family: oriya MN, arial;
}

footer {
	text-align: center;
}
/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file


