/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* ===============Site Styles=============================== */

body {
	background: 
		url("../images/bg-texture_image.jpg"),
			url("../images/bg_text_texture.jpg")	
}

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/pacifico/Pacifico.ttf");
}

h1, h2, h3{
    font-family: Pacifico, arial;
	text-shadow: 1px 1px 1px white;
}

h2 {
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
	margin: 10px;
}

h3 {
	font-size: 1.5em;
	margin: 10px;
	text-align: center;
	text-decoration: underline;
}

p {
	font-family: oriya MN, arial;
	padding: 10px 0 20px 0;
	margin: 0 auto;
}


/*------------------HEADER---------------------*/
#header {
	width: 100%;
	height: 100px;
	background: url('../images/bg_text_texture.jpg');
}

.header-contain {
	display: block;
	width: 996px;  
	margin: auto;
}

.logo {
	width: 150px;
	height: 165px;
	background: url('../images/bg_text_texture.jpg');
	box-shadow: 0px 1px 10px black;
	margin-left: 25px;
	display: block;
	float: left;
}

.logo img {
	padding: 25px 0px;
}

.title {
	display: block;
	width: 480px;	
	margin: 0 88px;
	height: 100px;
	background: url("../images/header_letterpress.jpg") no-repeat;
	text-indent: -9999px;
	float: left;	
}

.socialmedia {
	display: block;
	margin: 0;
	padding: 0 24.5px;
	width: 90px;
	float: left;
}

.socialmedia li {
	display: block;
	margin-top: 5px;
	padding: 0;
	width: 30px;
	float: left;
	list-style: none;
}

/*-------------------CTA---------------*/
.button {
    border-radius: 7px;
	display: block;
	width: 150px;
	font-family: pacifico;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-shadow: 1px 1px 0px black;
    background: -moz-linear-gradient(orange, #FF5800); 
    background: -webkit-linear-gradient(orange, #FF5800);
}

.button {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.button:link {
    color: white;
}

.button:visited {
    color: white;
}

.button:hover {
    color: black;
    background: -moz-linear-gradient(#fcf7ee 0%, #ff5800 100%); 
    background: -webkit-linear-gradient(#fcf7ee 0%, #ff5800 100%);
	text-shadow: 1px 1px 0px white;
}

.button:active {
    color: grey;
}

.button {
	display: block;
	width: 139px;
	margin-left: 0px;
	float: left;
	border: red 1px solid;
}

/*--------------NAV----------------------------*/

.main-nav {
	margin-left: 176px;
	width: 996px;
	padding-bottom: 50px
}

nav li {
	display: block;
	float: left;
	line-height: 50px;
	font-family: pacifico, arial;
	text-align: center;
	width: 120px;
	text-shadow: 1px 1px white;
}

nav ul {
	padding-left: 0;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
	text-shadow: 1px 1px black;
}

a:active {
	color: orange;
	text-shadow: 1px 1px black;
}
	

.home a {
	color: white;
	text-shadow: 1px 1px black;
}

.current a {
	color: white;
	text-shadow: 1px 1px black;
}


/*=========================Carousel=====================*/
.css-carousel {
	box-shadow: 1px 1px 10px black;
}
.css-carousel {
	width: 100%;
	height: 500px; /* Height of images */
	position: relative;
	overflow: hidden;
}

.css-carousel .css-img {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-animation: css-carousel-fade 30s linear infinite;
	-moz-animation: css-carousel-fade 30s linear infinite;
	-ms-animation: css-carousel-fade 30s linear infinite;
	animation: css-carousel-fade 30s linear infinite;
}

.css-carousel .css-img:nth-child(2) {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
}

.css-carousel .css-img:nth-child(3) {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}

.css-carousel .css-img:nth-child(4) {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
}

.css-carousel .css-img:nth-child(5) {
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 20s;
	-ms-animation-delay: 20s;
	animation-delay: 20s;
}

.css-carousel .css-img:nth-child(6) {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	-ms-animation-delay: 25s;
	animation-delay: 25s;
}

@-webkit-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}

@-moz-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}

@-ms-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}

@keyframes css-carousel-fade {
	0%, 20%, 100% { opacity: 0; }
	5%, 15% { opacity: 1;}
}


/*---------------Feature/Body----------*/


.feature {
	box-shadow: 2px 2px 10px black;
	width: 100%;
	height: 550px;
}

.stories {
	padding: 0px 0 20px 0;
}

.services {
	padding-bottom: 20px;
}

#hertzberg {
	margin: auto;
}

#reviews {
	margin: 10px 0 20px 0;
}

.form {
	padding: 5px 0;
}

#form {
	font-family: oriya MN, arial;
}

#submit {
	color: white;
	border-radius: 7px;
	display: block;
	width: 150px;
	font-family: pacifico;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-shadow: 1px 1px 0px black;
    background: -moz-linear-gradient(orange, #FF5800); 
    background: -webkit-linear-gradient(orange, #FF5800);
}

#submit:hover {
    color: black;
    background: -moz-linear-gradient(#fcf7ee 0%, #ff5800 100%); 
    background: -webkit-linear-gradient(#fcf7ee 0%, #ff5800 100%);
	text-shadow: 1px 1px 0px white;
}

#contact {
	padding: 0;
}

/*------------About---------------*/

.owner {
padding: 40px;
box-shadow: 2px 2px 10px black;
}

/*-----------------------FOOTER---------------*/

footer {
	margin: 0;
	overflow: hidden;
	clear: both;
	width: 100%;
	height: 100px;
	line-height: 80px;
	background: url('../images/bg_text_texture.jpg');
	text-align: center;	
}


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 996px) {

.header-contain {
	width: 768px;
	height: 100px;
}

.logo {
	width: 100px;
	height: 100px;
	box-shadow: none;
	margin-left: 5px;
}

.logo img {
	padding: 10px 10px;
}

.title {
	margin: 0 40px;
}

.socialmedia {
	width: 90px;
	padding: 0;
}

.button {
	width: 90px;
	font-size: 14px;	
	margin-top: 10px;
}

h2 {
	font-size: 1.5em
}

.feature {
	height: 500px;
}

.main-nav { 
	padding-left: 0px;
	margin-left: 0px;	
	width: 768px;
}

.services {
	margin-top: 20px;
}

nav li {
	width: 128px;
}

.owner {
	box-shadow: none;
	padding: 10px;
}

}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}


/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.header-contain {
	width: 480px;
	height: 150px;
}

.logo {
	margin-left: 156px;
}

.title {
	display: none;
}

.socialmedia {
	position: absolute;
}

.button {
	margin: 6px 15px;		
}

.main-nav {
	margin: 0;
	width: 456px;
	font-size: 14px;
	clear: both;
}

nav li {
	width:70px;
	padding-left: 5px;
}

.feature {
	height: 300px;
	clear: both;
}

.css-carousel {
	height: 300px; /* Height of images */
	position: relative;
	overflow: hidden;
}

.owner {
	box-shadow: none;
	padding: 100px;
}

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	

.header-contain {
	width: 320px;
}

.logo {
	width: 100px;
	height: 100px;
	margin-left: 110px
}

.logo img {
	padding: 10px 0;
}

.socialmedia {
	position: absolute;
	margin-left: -15px;
}

.main-nav {
	margin: 0;
	width: 320px;
}

nav li{
	height: 62px;
	line-height: 62px;
	font-size: 2em;
	width: 300px;
	border-bottom: 1px solid black;	
}

.button {
	width: 100px;
	margin: 5px 0 0 7px;
	font-size: 14px;
}

.title {
	display: none;	
}		
	
.feature {
	height: 180px;
	clear: both;
}	

.css-carousel {
	height: 180px; /* Height of images */
	position: relative;
	overflow: hidden;
}

}




